.coverage
*.csv
*.log
*.pid
*.py[cod]
*.so
*.swp
*.egg-info/
*.log
*.bak

.DS_Store
.idea
_trial_temp/
htmlcov/
build/
src/

base/app/configs/application.id
base/app/configs/alembic.ini
base/app/configs/development.py
base/app/configs/testing.py
.DATABASE*

docs
dump.rdb
env
Gemfile.lock

.bundle
.sass-cache
