SQLALCHEMY_DATABASE_URI = 'mysql://#DATABASE_USER#:#DATABASE_PASS#@#DATABASE_HOST#/#DATABASE_NAME#'
SQLALCHEMY_POOL_RECYCLE = 160
DATABASE_CONNECT_OPTIONS = {}

# With debug true, the application will reload if running flask web server and
# the logs will be output to stdout
DEBUG = True

ROTATING_FILELOGGER_OUTPUT_LOCATION = 'logs/app.json'
